<mat-card *ngFor="let todo of todos | async">
  <mat-card-header>
    <mat-card-title>{{ todo.label }}</mat-card-title>
  </mat-card-header>
  <mat-card-actions>
    <button mat-mini-fab>
      <mat-icon aria-label="Edit">edit</mat-icon>
    </button>
    <button mat-mini-fab>
      <mat-icon aria-label="Remove">remove</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>